.p-container{
    width: 100%;
    margin:1em;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:1.5em;
  }

.lang-icons{
    width: 75vw;
    height: 25vh;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    user-select: none;
}

.lang-icons i{
    font-size: 4em;
}

i{
    transition: var(--transition-fast);
}

.icon-tag{
    margin: 0.5em;
    opacity: 0;
    transition: var(--transition-slow);
    font-family: var(--font3);
    font-weight: 700;
}

i:hover {
    transform: scale(1.2);
    text-shadow: 0 0 2em;
}

i:hover ~ .icon-tag{
    opacity: 1;
    transform: scale(2.5) translate(0,0.6em);
    text-shadow: 0 0 1em;
}   

.fa-square-js:hover, .fa-square-js:hover ~ .icon-tag{
    color: #f7b525;
}

.fa-css3-alt:hover, .fa-css3-alt:hover ~ .icon-tag{
    color: #1670a9
}

.fa-html5:hover, .fa-html5:hover ~ .icon-tag{
    color:#e64c26;
}

.fa-python:hover, .fa-python:hover ~ .icon-tag{
    color: #1670a9;
}

.fa-react:hover, .fa-react:hover ~ .icon-tag{
    color: #39bcf0;
}

.fa-node:hover, .fa-node:hover ~ .icon-tag{
    color: #83cc29;
}

.fa-database:hover, .fa-database:hover ~ .icon-tag{
    color: #1670a9;
}